:root {
  /* Package 1 */
  --pricing-1-color: 200, 100%;
  --pricing-1-l: 100%;
  --pricing-1-100: hsl(var(--pricing-1-color), calc(var(--pricing-1-l) - 5%));
  --pricing-1-300: hsl(var(--pricing-1-color), calc(var(--pricing-1-l) - 10%));
  --pricing-1-500: hsl(var(--pricing-1-color), calc(var(--pricing-1-l) - 20%));
  --pricing-1-700: hsl(var(--pricing-1-color), calc(var(--pricing-1-l) - 60%));
  --pricing-1-900: hsl(var(--pricing-1-color), calc(var(--pricing-1-l) - 65%));

  /* Package 2 */
  --pricing-2-color: 40, 100%;
  --pricing-2-l: 100%;
  --pricing-2-100: hsl(var(--pricing-2-color), calc(var(--pricing-2-l) - 5%));
  --pricing-2-300: hsl(var(--pricing-2-color), calc(var(--pricing-2-l) - 10%));
  --pricing-2-500: hsl(var(--pricing-2-color), calc(var(--pricing-2-l) - 20%));
  --pricing-2-700: hsl(var(--pricing-2-color), calc(var(--pricing-2-l) - 60%));
  --pricing-2-900: hsl(var(--pricing-2-color), calc(var(--pricing-2-l) - 65%));

  /* Package 3 */
  --pricing-3-color: 140, 100%;
  --pricing-3-l: 100%;
  --pricing-3-100: hsl(var(--pricing-3-color), calc(var(--pricing-3-l) - 5%));
  --pricing-3-300: hsl(var(--pricing-3-color), calc(var(--pricing-3-l) - 10%));
  --pricing-3-500: hsl(var(--pricing-3-color), calc(var(--pricing-3-l) - 20%));
  --pricing-3-700: hsl(var(--pricing-3-color), calc(var(--pricing-3-l) - 60%));
  --pricing-3-900: hsl(var(--pricing-3-color), calc(var(--pricing-3-l) - 65%));

  /* Package 4 */
  --pricing-4-color: 0, 100%;
  --pricing-4-l: 100%;
  --pricing-4-100: hsl(var(--pricing-4-color), calc(var(--pricing-4-l) - 5%));
  --pricing-4-300: hsl(var(--pricing-4-color), calc(var(--pricing-4-l) - 10%));
  --pricing-4-500: hsl(var(--pricing-4-color), calc(var(--pricing-4-l) - 20%));
  --pricing-4-700: hsl(var(--pricing-4-color), calc(var(--pricing-4-l) - 60%));
  --pricing-4-900: hsl(var(--pricing-4-color), calc(var(--pricing-4-l) - 65%));
}

body {
  font-family: 'Open Sans', sans-serif;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
